/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

html,
body {
  /* font-family: "Inter", serif; */
  font-family: "Poppins", serif;
  scroll-behavior: smooth;
}

.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}

.slider-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.631), rgba(0, 0, 0, 0.517)),
    url("/Images/slider/slide-1.jpg");
}

.hero-section {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.986) 40%,
      rgba(0, 0, 0, 0.032)
    ),
    url("/Images/slide-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fire-text {
  background: linear-gradient(45deg, #ff4500, #ff8c00, #ffd700);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.step-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.3)),
    url("/Images/bg-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-us-section {
  /* background-image: linear-gradient(rgba(241, 231, 231, 0.343) 0.52),
    rgba(255, 255, 255, 0.28), url("/Images/about-bg.jpg"); */
  background-image: linear-gradient(#fffffff5, #ffffffd3),
    url("/Images/about-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.services-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.506), rgba(0, 0, 0, 0.568)),
    url("/Images/services-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.call-to-action-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.294), rgba(0, 0, 0, 0.974)),
    url("/cta.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
